<div id="goals" class="uk-section uk-section-muted animated fadeIn">
  <div
    class="uk-container uk-width-2-3@m uk-text-center"
    uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100; repeat: false"
  >
    <div class="uk-width-1-1">
      <h2>Unir, Cuidar y Documentar</h2>
      <br />
    </div>
    <div
      class="uk-grid-large uk-child-width-1-2 uk-child-width-1-3@m uk-flex uk-flex-center"
      uk-grid
    >
      <div>
        <span uk-icon="icon: users; ratio: 2.5"></span>
        <p>Coordinar actores en torno a sectores de escalada en Chile</p>
      </div>
      <div>
        <span uk-icon="icon: phone; ratio: 2.5"></span>
        <p>
          Crear un canal para la gestión responsable de sectores de escalada
        </p>
      </div>
      <div>
        <span uk-icon="icon: location; ratio: 2.5"></span>
        <p>Apoyar la documentación de zonas y rutas de escalada en Chile</p>
      </div>
      <div>
        <span uk-icon="icon: comments; ratio: 2.5"></span>
        <p>Resolver problemas de acceso a zonas de interés</p>
      </div>
      <div>
        <span uk-icon="icon: heart; ratio: 2.5"></span>
        <p>
          Promover el cariño y responsabilidad por los sectores de recreación
        </p>
      </div>
      <div>
        <span uk-icon="icon: world; ratio: 2.5"></span>
        <p>Promover el desarrollo sostenible de la escalada</p>
      </div>
    </div>
  </div>
</div>
