<div id="why" class="uk-section uk-padding-remove">
  <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div
      class="uk-flex uk-flex-top"
      uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true"
    >
      <div class="uk-padding uk-margin-auto-vertical">
        <h2>Nuestro Diagnóstico</h2>
        <p>
          La escalada ha tenido un crecimiento acelerado en el último tiempo
          tanto en el mundo como en Chile, lo que no se ha condicionado con el
          desarrollo de políticas de acceso y cuidado. Esto ha generado
          concentración de escaladores en ciertos sectores, impacto ambiental
          profundo y problemas con los accesos. Si bien han habido esfuerzos
          individuales o de ciertas comunidades por gestionar y cuidar sectores,
          no ha existido un esfuerzo colectivo exitoso.
        </p>
      </div>
    </div>
    <div>
      <img
        class="img-members"
        height="200"
        src="assets/images/home_half_sq_1.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div>
      <img
        class="img-members"
        height="200"
        src="assets/images/home_half_sq_2.jpg"
        alt=""
      />
    </div>
    <div
      class="uk-flex uk-flex-top"
      uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true"
    >
      <div class="uk-padding uk-margin-auto-vertical">
        <h2>Qué buscamos</h2>
        <p>
          En Andescalada queremos facilitar la gestión de los sectores de
          escalada por parte de las comunidades locales. Por medio de una
          <span class="uk-text-bold">aplicación móvil</span> buscaremos crear
          canales de comunicación, que permitan proteger el medio ambiente,
          promover el desarrollo local y potenciar la escalada.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="team" class="uk-section">
  <div
    class="uk-container uk-text-center"
    uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: false"
  >
    <h2>Equipo</h2>
    <ul class="uk-child-width-1-1 uk-child-width-1-4@m uk-text-center" uk-grid>
      {% for member in site.data.members %}
      <li
        class="member-card uk-flex uk-flex-wrap uk-flex-wrap-top"
        uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true"
      >
        <div class="uk-text-center">
          <img
            class="img-members uk-border-circle"
            width="180"
            height="180"
            src="assets/images/members/{{ member.photo }}"
            alt=""
          />
          <p class="">
            <span class="uk-text-bold"> {{ member.name }} </span> <br />
            {{member.position}} <br />
            {% if member.instagram %}
            <a
              class="pink-darker-f"
              href="{{member.instagram}}"
              class="uk-icon-link"
              uk-icon="instagram"
              target="_blank"
              rel="noopener"
              aria-label="Instagram de {{member.name}}"
            ></a>
            {% endif %} {% if member.linkedin %}
            <a
              class="pink-darker-f"
              href="{{member.linkedin}}"
              class="uk-icon-link"
              uk-icon="linkedin"
              target="_blank"
              rel="noopener"
              aria-label="Linkedin de {{member.name}}"
            ></a>
            {% endif %} {% if member.twitter %}
            <a
              class="pink-darker-f"
              href="{{member.twitter}}"
              class="uk-icon-link"
              uk-icon="twitter"
              target="_blank"
              rel="noopener"
              aria-label="Twitter de {{member.name}}"
            ></a>
            {% endif %} {% if member.github %}
            <a
              class="pink-darker-f"
              href="{{member.github}}"
              class="uk-icon-link"
              uk-icon="github"
              target="_blank"
              rel="noopener"
              aria-label="Website {{member.github}}"
            ></a>
            {% endif %} {% if member.website %}
            <a
              class="pink-darker-f"
              href="{{member.website}}"
              class="uk-icon-link"
              uk-icon="world"
              target="_blank"
              rel="noopener"
              aria-label="Website {{member.website}}"
            ></a>
            {% endif %}
          </p>
          <p class="uk-text-small">{{ member.bio }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div
  id="about"
  class="uk-section uk-section-default uk-section-large uk-flex uk-flex-column"
  uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true"
>
  <div class="uk-container">
    <h2>Por qué Andescalada</h2>

    <blockquote cite="#" class="uk-column-span">
      <p>
        Andescalada proporciona un espacio de información, encuentro y diálogo
        para los escaladores y escaladoras de Chile.
      </p>
    </blockquote>

    <div class="uk-column-1-2@m uk-column-divider">
      <p>
        Andescalada es una organización sin fines de lucro que busca coordinar,
        documentar y promover el desarrollos sostenible de los sectores de
        escalada en torno a los Andes.
      </p>

      <p>
        Reconociendo el potencial y la expansión de la escalada en los Andes,
        vemos con urgencia realizar acciones para coordinar a los escaladores y
        escaladoras con las comunidades aledañas a los sectores. Para ello
        <span class="uk-text-bold">promovemos coaliciones por sectores</span>,
        las que tienen por objetivo documentar las rutas de la zona, así como
        ser el nexo entre escaladores y la comunidad, permitiendo cuidar el
        entorno, preservar los accesos, contar con acuerdos claros y desarrollar
        iniciativas acordes a las realidades locales.
      </p>

      <p>
        Para coordinar estos esfuerzos se contará con una aplicación móvil que
        facilitará la gestión de los sectores de escalada, así como el acceso a
        la información de estos. La aplicación Andescalada busca ser la mejor
        guía de escalada en torno a los Andes, entregando datos relevantes de
        las rutas, así como información actualizada del sector con los acuerdos
        de cuidado y desarrollo."
      </p>
    </div>
    <div class="uk-flex uk-flex-right">
      <p>- Eyal Levy, Director Ejecutivo</p>
    </div>
  </div>
  <div class="uk-flex-center uk-flex-inline uk-margin-medium-top">
    <!-- <a class="button uk-button uk-button-default uk-width-auto" href="./page2">
      Ver más sobre el proyecto
    </a> -->
  </div>
</div>
