<header>
  <!-- Desktop version -->
  <div class="uk-visible@s">
    <div class="uk-position-relative">
      <div class="uk-cover-container" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true">
        <canvas width="1" height="700"></canvas>
        <img class="uk-blend-darken" src="assets/images/home_dark6.jpg" alt="" uk-cover>
        <div class="uk-position-center uk-position-small uk-light">
          <h1 class="uk-margin-xlarge-left uk-margin-xlarge-right">Andescalada</h1>
          <p class="uk-margin-xlarge-left uk-margin-xlarge-right uk-text-lead white">Organización sin fines de lucro que busca coordinar, documentar y promover el desarrollo sostenible de los sectores de escalada en torno a los Andes.</p>
            <!-- Begin Mailchimp Signup Form -->
          <div class="uk-margin-xlarge-left " id="mc_embed_signup">
            <form action="https://gmail.us10.list-manage.com/subscribe/post?u=0194c5586a4e7efe96414fa99&amp;id=fa90454139" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form-horizontal uk-margin-large" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input type="email" value="" name="EMAIL" class="email uk-input uk-form-width-medium" id="mce-EMAIL" placeholder="correo electrónico" required>
                </div>
                <input type="submit" value="Recibe noticias" name="subscribe" id="mc-embedded-subscribe" class="button uk-button uk-button-default">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_0194c5586a4e7efe96414fa99_fa90454139" tabindex="-1" value="">
                </div>
                <p class="white">Suscríbete y recibe las novedades de Andescalada</p>
              </div>
            </form>
          </div>
        </div>
        <div class="uk-position-top">
          <nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                <li><a href="#goals" class="navbar-link">Objetivos</a></li>
                <li><a href="#why">Por qué</a></li>
                <li><a href="#about">Andescalada</a></li>
                <li><a href="#team">Equipo</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile version -->
  <div class="uk-hidden@s">


    <div class="uk-position-relative">
      <div class="uk-cover-container" uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true">
        <canvas width="1" height="600"></canvas>
        <img class="uk-blend-darken" src="assets/images/home_dark6.jpg" alt="" uk-cover>
        <div class="uk-position-center uk-position-small uk-light">
          <h1 class="uk-h2">Andescalada</h1>
          <p class="white">Organización sin fines de lucro que busca coordinar, documentar y promover el desarrollo sostenible de los sectores de escalada en torno a los Andes.</p>
            <!-- Begin Mailchimp Signup Form -->
          <div class="" id="mc_embed_signup">
            <form action="https://gmail.us10.list-manage.com/subscribe/post?u=0194c5586a4e7efe96414fa99&amp;id=fa90454139" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form-horizontal uk-margin-large" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                  <input type="email" value="" name="EMAIL" class="email uk-input uk-form-width-medium" id="mce-EMAIL" placeholder="correo electrónico" required>
                </div>
                <input type="submit" value="Recibe noticias" name="subscribe" id="mc-embedded-subscribe" class="button uk-button uk-button-default">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_0194c5586a4e7efe96414fa99_fa90454139" tabindex="-1" value="">
                </div>
                <p class="white uk-text-small">Suscríbete y recibe las novedades de Andescalada</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>






</header>
