// Define defaults for each variable.
$title-font: 'Lato', sans-serif !important;
$body-font: 'Source Sans Pro', sans-serif !important;

.white {
  color: white !important;
}
/* General */

body {
  font-family: $body-font;
}

h1,
h2,
h3 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
}

.uk-logo {
  font-family: $title-font;
}

html {
  scroll-behavior: smooth;
}

.uk-tab > .uk-active > a {
  color: #333;
  border-color: #333;
}
