---
layout: default
---

{%- include slides.html -%}

<div class="uk-section uk-section-default uk-section-large">
  <div class="uk-container uk-width-1-1 uk-width-3-4@m" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: false">
    <h2>Objetivos</h2>
    <div class="uk-child-width-1-1 uk-child-width-1-3@m" uk-grid>
      <div>
        <h3 class="uk-h4"> Coordinar actores en torno a sectores de escalada</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div>
        <h3 class="uk-h4"> Documentar zonas y rutas de escalada en Chile </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div>
        <h3 class="uk-h4"> Promover el desarrollo sostenible de la escalada </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>


<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('assets/images/hero.jpg');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">Headline</h1>
        <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>

<div class="uk-section uk-section-secondary uk-section-large uk-light">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
        <div>
          <h2>Problemas identificados</h2>
          <p>La escalada ha tenido un crecimiento acelerado en el último tiempo tanto en el mundo como en Chile, lo que no se ha condicionado con el desarrollo de políticas de acceso y cuidado. Esto ha generado concentración de escaladores en ciertos sectores, impacto ambiental profundo y problemas con los accesos. Si bien han habido esfuerzos individuales o de ciertas comunidades por gestionar y cuidar sectores, no ha existido un esfuerzo colectivo exitoso.</p>
        </div>
        <div>
          <h2>Andescalada</h2>
          <p>Se facilitará la gestión de los sectores de escalada por parte de las comunidades locales. Por medio de la creación de herramientas digitales buscaremos crear canales de comunicación, proteger el medio ambiente, promover el  desarrollo local y el potenciar la escalada. </p>
        </div>
      </div>
    </div>
</div>

<div class="uk-section uk-section-default uk-section-large">
  <div class="uk-container">

    <h2>Por qué Andescalada</h2>

    <div class="uk-column-1-2 uk-column-divider">

      <p>And(es)calada es una organización sin fines de lucro que busca coordinar, documentar y promover el desarrollos sostenible de los sectores de escalada en torno a los Andes.</p>

      <p> Reconociendo el potencial y la expansión de la escalada en los Andes, vemos con urgencia realizar acciones para coordinar a los escaladores y escaladoras con las comunidades aledañas a los sectores. Para ello promovemos coaliciones por sectores, las que tienen por objetivo documentar las rutas de la zona, así como ser el nexo entre escaladores y la comunidad, permitiendo cuidar el entorno, preservar los accesos, contar con acuerdos claros y desarrollar iniciativas acordes a las realidades locales.</p>

      <blockquote cite="#" class="uk-column-span">
        <p>Andescalada proporciona un espacio de información, encuentro y diálogo para los escaladores y escaladoras de Chile.</p>
      </blockquote>

      <p>Para coordinar estos esfuerzos se contará con una aplicación móvil que facilitará la gestión de los sectores de escalada, así como el acceso a la información de estos. La aplicación And(es)calada busca ser la mejor guía de escalada en torno a los Andes, entregando datos relevantes de las rutas, así como información actualizada del sector y los acuerdos de cuidado y desarrollo.</p>

    </div>

  </div>
</div>




<div class="uk-section uk-section-muted">
  <div class="uk-container uk-width-1-1 uk-width-3-4@m uk-text-center" uk-scrollspy="cls: uk-animation-fade; delay: 100; repeat: false">
    <h2>Equipo</h2>
    <ul class="uk-child-width-1-1 uk-child-width-1-4@m uk-text-center" uk-grid>
      {% for member in site.data.members %}
         <li class="member-card">
          <div class="uk-text-center">
            <img class="img-members uk-border-circle" width="180" height="180" src="assets/images/eyal.png" alt="">
            <p class="">
              <span class="uk-text-bold"> {{ member.name }} </span> <br>
              {{member.position}} <br>
              {% if member.instagram %} <a class="pink-darker-f" href="{{member.instagram}}" class="uk-icon-link" uk-icon="instagram" target="_blank" rel="noopener" aria-label="Instagram de {{member.name}}"></a> {% endif %}
              {% if member.facebook %} <a class="pink-darker-f" href="{{member.facebook}}" class="uk-icon-link" uk-icon="facebook" target="_blank" rel="noopener" aria-label="Facebook de {{member.name}}"></a> {% endif %}
              {% if member.twitter %} <a class="pink-darker-f" href="{{member.twitter}}" class="uk-icon-link" uk-icon="twitter" target="_blank" rel="noopener" aria-label="Twitter de {{member.name}}"></a> {% endif %}
              {% if member.github %} <a class="pink-darker-f" href="{{member.github}}" class="uk-icon-link" uk-icon="github" target="_blank" rel="noopener" aria-label="Website {{member.github}}"></a> {% endif %}
              {% if member.website %} <a class="pink-darker-f" href="{{member.website}}" class="uk-icon-link" uk-icon="world" target="_blank" rel="noopener" aria-label="Website {{member.website}}"></a> {% endif %}
            </p>
            <p class="uk-text-small"> {{ member.bio }} </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class="uk-section uk-section-secondary uk-section-large uk-light">
    <div class="uk-container">
      <h2> Recibe información acerca de Andescalada </h2>
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://gmail.us10.list-manage.com/subscribe/post?u=0194c5586a4e7efe96414fa99&amp;id=fa90454139" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form-horizontal uk-margin-large" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="uk-margin" uk-margin>
            <div uk-form-custom="target: true">
              <input type="email" value="" name="EMAIL" class="email uk-input uk-form-width-medium" id="mce-EMAIL" placeholder="email address" required>
            </div>
            <input type="submit" value="Recibe noticias" name="subscribe" id="mc-embedded-subscribe" class="button uk-button uk-button-default">

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_0194c5586a4e7efe96414fa99_fa90454139" tabindex="-1" value="">
            </div>

          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->


    </div>
</div>
