---
layout: default
---

<header>
  <!-- Desktop version -->
  <div class="uk-visible@s">
    <div class="uk-position-relative">
      <div
        class="uk-cover-container"
        uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true"
      >
        <canvas width="1" height="800"></canvas>
        <img
          class="uk-blend-darken"
          src="/assets/images/crowdfunding.jpg"
          alt=""
          uk-cover
        />
        <div class="uk-position-center uk-position-small uk-light">
          <div class="uk-margin-xlarge-left uk-margin-xlarge-right">
            <h1> Andescalada </h1>
            <h2> ¡Te invitamos a nuestro primer crowdfunding con amigos! </h2>
            <p class="uk-text-lead white">
              <span class="uk-text-bold">¿Cuándo?</span> 01 de octubre de 2020 <br>
              <span class="uk-text-bold">¿A qué hora?</span> 19:00 <br>
              <span class="uk-text-bold">¿Dónde lo realizaremos?</span> A través de Zoom
            </p>
          </div>

          <!-- Begin Mailchimp Signup Form -->
          <div class="uk-margin-xlarge-left" id="mc_embed_signup">
            <form
              action="https://gmail.us10.list-manage.com/subscribe/post?u=0194c5586a4e7efe96414fa99&amp;id=fa90454139"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate uk-form-horizontal uk-margin-large"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll" class="uk-margin" uk-margin>
                <div uk-form-custom="">
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="email uk-input uk-form-width-medium"
                    id="mce-EMAIL"
                    placeholder="Correo electrónico"
                    required
                  />
                  <input
                    type="text"
                    value=""
                    name="NAME"
                    class="uk-input uk-form-width-medium"
                    id="mce-NAME"
                    placeholder="Nombre"
                    required
                  />
                </div>
                <input
                  type="submit"
                  value="Confirmar inscripción"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="button uk-button uk-button-default"
                />
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_0194c5586a4e7efe96414fa99_fa90454139"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <p class="white">
                  Confirma tu inscripción y te enviaremos el link de la reunión a tu correo electrónico
                </p>
                <div uk-lightbox>
                  <a class="uk-button uk-button-default" href="https://www.youtube.com/watch?v=svcVodv_UGU" data-caption="YouTube" data-attrs="width: 1280; height: 720;">Ver video</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="uk-position-top">
          <nav
            class="uk-navbar-container uk-navbar-transparent uk-light"
            uk-navbar
          >
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                <li><a href="https://andescalada.org" class="uk-text-bold white">ACERCA ANDESCALADA</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile version -->
  <div class="uk-hidden@s">
    <div class="uk-position-relative">
      <div
        class="uk-cover-container"
        uk-scrollspy="cls: uk-animation-fade; target: > div; delay: 50; repeat: true"
      >
        <canvas width="1" height="600"></canvas>
        <img
          class="uk-blend-darken"
          src="/assets/images/crowdfunding.jpg"
          alt=""
          uk-cover
        />
        <div class="uk-position-center uk-position-small uk-light">
          <h1 class="uk-h1"> Andescalada </h1>
          <h2 class="uk-h3"> ¡Te invitamos a nuestro primer crowdfunding con amigos! </h2>
          <p class="white">
            <span class="uk-text-bold">¿Cuándo?</span> 01 de octubre de 2020 <br>
            <span class="uk-text-bold">¿A qué hora?</span> 19:00 <br>
            <span class="uk-text-bold">¿Dónde lo realizaremos?</span> A través de Zoom
          </p>

          <!-- Begin Mailchimp Signup Form -->
          <div class="" id="mc_embed_signup">
            <form
              action="https://gmail.us10.list-manage.com/subscribe/post?u=0194c5586a4e7efe96414fa99&amp;id=fa90454139"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate uk-form-horizontal uk-margin-large"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll" class="uk-margin" uk-margin>
                <div uk-form-custom="">
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="email uk-input uk-form-width-medium"
                    id="mce-EMAIL"
                    placeholder="Correo electrónico"
                    required
                  />
                  <input
                    type="text"
                    value=""
                    name="NAME"
                    class="uk-input uk-form-width-medium"
                    id="mce-NAME"
                    placeholder="Nombre"
                    required
                  />
                </div>
                <input
                  type="submit"
                  value="Confirmar inscripción"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="button uk-button uk-button-default"
                />
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_0194c5586a4e7efe96414fa99_fa90454139"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <p class="white">
                  Confirma tu inscripción y te enviaremos el link de la reunión a tu correo electrónico
                </p>
                <div uk-lightbox>
                  <a class="uk-button uk-button-default" href="https://www.youtube.com/watch?v=svcVodv_UGU" data-caption="YouTube" data-attrs="width: 1280; height: 720;">Ver video</a>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
